@import './../../styles/app';
$font-size-xs: 30px;
$font-size-md: 45px;
$font-size-lg: 60px;

#missed-letters {
  text-transform: uppercase;
  color: $bar-color;
  font-weight: 500;
  font-size: 20px;
}

.missed-letters-{

  &box {
    //float: left;
    //@include border-radius(5px);
    font-size: $font-size-xs;
    color: $background2;
    background-color: $background3;
    text-align: center;
    letter-spacing: 15px;
    height: $font-size-xs;
  }
  &wrapper{
    @include flexbox();
    @include flex-flow(row wrap);
    height: 150px;
  }
}


/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .missed-letters- {

    &box {
      font-size: $font-size-md;
      height: $font-size-md;
    }
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .missed-letters- {

    &box {
      font-size: $font-size-lg;
      height: $font-size-lg;
    }
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
