@import './../../styles/app';

#missed-letters {
  text-transform: uppercase;
  color: $bar-color;
  font-weight: 500;
  font-size: 20px;
}

.missed-letters-{

  &box {
    //float: left;
    font-size: 60px;
    color: $background2;
    letter-spacing: 15px;
    height: 60px;
  }
  &wrapper{
    @include flexbox();
    @include flex-flow(row wrap);
    height: 150px;
  }
}
