// Website colors
$background1: #3b4263;
$background2: #4d71fa;
$background3: #fff;

// Hangman colors
$body-color: #ffcd8a;
$shirt1-color: #4a9d6a;
$shirt2-color: #88c357;
$trousers-color: #3b5c92;
$bar-color: #3b4263;

// Background colors backup
$dark_blue: #3b4263;
$blue: #4d71fa;

// Hangman colors backup
$dark_green: #4a9d6a;
$green: #88c357;

// Z-indexes
$z-index-1: 1000;
$z-index-2: 2000;
$z-index-3: 3000;
$z-index-4: 4000;
$z-index-5: 5000;
$z-index-6: 6000;
$z-index-7: 7000;
$z-index-8: 8000;
$z-index-9: 9000;

